:root {
	--color-gold: #bdae82;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-matte-black: #1c1c1c;
	--font-size-1: 60px;
	--font-size-2: 40px;
	--font-size-3: 28px;
	--font-size-4: 24px;
	--font-size-5: 20px;
	--font-size-6: 18px;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-size: var(--font-size-5);
	font-weight: 400;
	color: var(--color-white);
	background-color: var(--color-black);
	transition: 0.5s;
}

.body.light-theme {
	color: var(--color-matte-black);
	background-color: var(--color-white);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

.header-container {
	display: flex;
	align-items: center;
	height: 90px;
	background-image: url('assets/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center 0;
	transition: 0.5s;
}

.header-container.light-theme {
	background-image: url('assets/img/lightbg.jpg');
}

.icon {
	width: 50px;
	height: 50px;
	fill: var(--color-white);
	transition: 0.5s;
}

.theme-icon.light-theme,.icon.light-theme {
	fill: var(--color-matte-black);
}

.theme-icon:hover,.icon:hover {
  fill: var(--color-gold);
}

.nav {
	margin-left: auto;
}

.list {
	list-style-type: none;
}

.nav-list {
	display: flex;
	padding: 0 15px;
}

.link {
	color: var(--color-white);
	text-decoration: none;
	transition: 0.5s;
}

.link.light-theme {
	color: var(--color-matte-black);
}

.nav-link {
	padding: 0 16px;
}

.link:hover {
	color: var(--color-gold);
}

.switch-lng {
	margin-right: 19px;
}

.switch-lng-button {
	background-color: transparent;
	border: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: 700;
	color: var(--color-gold);
	cursor: pointer;
	transition: 0.5s;
}

.switch-lng-button.light-theme {
	color: var(--color-matte-black);
}

.theme-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.theme-icon {
	width: 45px;
	height: 45px;
	fill: var(--color-white);
	transition: 0.5s;
}

.hero-container {
	max-width: 1440px;
	height: 820px;
	margin-bottom: 100px;
	background-image:	url('assets/img/bg.jpg');
	background-position: center -90px;
	background-repeat: no-repeat;
	transition: 0.5s;
}

.hero-container.light-theme {
	background-image: url('assets/img/lightbg.jpg');
}

.section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.section-hero {
	padding: 160px 0 0 60px;
}

.section-hero-title {
	width: 500px;
	padding: 22.5px 0; 
	margin: 0 0 10px;
	font-family:'Merriweather', serif;
	font-size: var(--font-size-1);
}

.section-hero-text {
	max-width: 470px;
	margin: 0 0 25px;
	line-height: 40px;
}

.button {
	width: 220px;
	height: 55px;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: var(--font-size-5);
	color: var(--color-black);
	border: none;
	cursor: pointer;
	background-color: var(--color-gold);
	transition: 0.5s;
}

.button.light-theme {
	color: var(--color-matte-black);
	background-color: var(--color-white);
}

.active-lng,.active-lng.light-theme,.switch-lng-button:hover,.button:hover {
	color: var(--color-white);
}

.button.light-theme:hover, .price-button.light-theme:hover {
	color: var(--color-gold);
	background-color: var(--color-matte-black);
}

.section.light-theme {
	color: var(--color-matte-black);
}

.section-title {
	padding: 0 18px;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: var(--font-size-2);
	line-height: 80px;
	color: var(--color-gold);
	background-color: var(--color-black);
}

.section-title.light-theme {
	color: var(--color-matte-black);
	background-color: var(--color-white);
}

.section-title-container {
	display: flex;
	width: 50%;
	margin: 0 auto 60px;
	justify-content: center;
	background-image: linear-gradient(to top, var(--color-black) 39px, var(--color-gold) 39px, var(--color-gold) 41px, var(--color-black) 41px);
}

.section-title-container.light-theme {
	background-image: linear-gradient(to top, var(--color-white) 39px, var(--color-matte-black) 39px, var(--color-matte-black) 41px, var(--color-white) 41px);
}

.skills-icon {
	width: 62px;
	height: 50px;
}

.image {
	width: 66px;
	height: 50px;
}

.mic {
	width: 32px;
	height: 50px;
}

.section-skills-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skills-item {
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.skills-icon {
	margin: 0 0 50px;
}

.item-title {
	line-height: 40px;
	margin: 0 40px 20px;
}

.item-paragraph {
	padding: 0 20px;
	margin: 0 0 8px;
	line-height: 36px;
	font-size: var(--font-size-6);
}

.section-portfolio-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;	
	margin: 0 0 60px;
}

.portfolio-button {
	color: var(--color-gold);
	border: 2px solid var(--color-gold);
	background-color: var(--color-black);
}

.portfolio-button:hover {
	color: var(--color-white);
}

.portfolio-button.light-theme,.price-button.light-theme {
	background-color: var(--color-gold);
}

.active-portfolio-button {
	color: var(--color-black);
	background-color: var(--color-gold);
}


.active-portfolio-button.light-theme {
	color: var(--color-gold);
	background-color: var(--color-matte-black);
}

.portfolio-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
}

.portfolio-image {
	width: 450px;
	height: 560px;
}

.section-video-player {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1400px;
	height: 705px;
	background-image: url('assets/img/video-player.jpg');
}

.play-button {
	border: none;
	background: transparent;
}

.play-button-icon {
	width: 130px;
	height: 130px;
	cursor: pointer;
}

.section-price {
	margin: 0 0 100px;
}

.section-price-items {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.price-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 450px;
	height: 505px;
	border: 2px solid var(--color-gold);
}

.price-title {
	padding: 43px 0 0;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-size: var(--font-size-3);
	line-height: 56px;
}

.dollars-price {
	margin: 20px 0;
	font-family: 'Merriweather', serif;
	font-size: var(--font-size-4);
	line-height: 48px;
	color: var(--color-gold);
}

.dollars-price.light-theme {
	color: var(--color-matte-black);
}

.price-description {
	margin: 0 0 40px;
}

.description-text {
	display: block;
	font-size: var(--font-size-6);
	text-align: center;
	line-height: 36px;
}

.contact-container {
	display: flex;
	justify-content: end;
	background-image: url('assets/img/contacts.jpg');
	max-width: 1440px;
	height: 700px;
	background-position: center;
	transition: 0.5s;
}

.contact-container.light-theme {
	color: var(--color-matte-black);
	background-image: url('assets/img/lightcontacts.jpg');
}

.section-contact {
	margin: 0;
}

.section-title-contact {
	margin: 60px 0 40px;
	font-family: 'Merriweather', serif;
	font-size: var(--font-size-2);
	line-height: 80px;
	color: var(--color-gold);
}

.section-title-contact.light-theme {
	color: var(--color-matte-black);
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 450px;
	width: 100vw;
	margin: 0 0 30px;
}

.input {
	height: 50px;
	padding: 0 20px;
	font-family: inherit;
	color: var(--color-gold);
	font-size: inherit;
	outline: 0;
	border: 2px solid var(--color-gold);
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.input:focus,.textarea:focus {
	border-color: var(--color-white);
	border-radius: 4px;
}

.input.light-theme {
	color: inherit;
	background-color: rgba(253, 253, 253, 0.5);
}

.input.light-theme:focus,.textarea.light-theme:focus {
	border-color: var(--color-matte-black);
	border-radius: 4px;
}


::placeholder {
	font-family: 'Inter', sans-serif;
	color: var(--color-gold);
	font-size: var(--font-size-5);
	line-height: 40px;
	opacity: 1;
	transition: 0.3s ease-in-out;
}

.input:focus::placeholder,.textarea:focus::placeholder{
	opacity: 0;
}

.light-theme::placeholder {
	color: var(--color-matte-black);
}

.textarea {
	height: 100px;
	padding: 4px 20px 0;
	resize: none;
	font-family: inherit;
	color: var(--color-gold);
	font-size: inherit;
	outline: 0;
	border: 2px solid var(--color-gold);
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.textarea.light-theme {
	color: inherit;
	background-color: rgba(253, 253, 253, 0.5);
}

.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 150px;
}

.footer-data {
	display: flex;
	justify-content: space-between;
	flex-basis: 182px;
	line-height: 50px;
}

.github {
	padding-right: 13px;
}

.rss {
	line-height: 50px;
}

.social-list {
	display: flex;
	justify-content: space-between;
	flex-basis: 188px;
	height: 50px;
	align-items: center;
	padding: 0;
}

.social-icon {
	width: 32px;
	height: 32px;
}

.burger {
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 0 4px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.burger-line {
	content: "";
	width: 50px;
	height: 3px;
	background-color: var(--color-white);
	transition: 0.3s ease-in-out;
}

.burger-line.light-theme {
	background-color: var(--color-matte-black);
}

.burger.menu-is-active {
	position: fixed;
	transition-delay: 0.6s;
	transform: rotate(45deg);
	z-index: 10;
}

.burger.menu-is-active .second-line {
	width: 0;
}

.burger.menu-is-active .first-line {
	transition-delay: 0.3s;
	transform: translateY(14px);
}

.burger.menu-is-active .third-line {
	transition-delay: 0.3s;
	transform: translateY(-14px) rotate(90deg);
}

@media (max-width: 1439px) {
  .section-skills-items {
    justify-content: space-around;
  }

	.section-price-items {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 768px) {
	:root {
		--font-size-1: 32px;
		--font-size-2: 32px;
		--font-size-7: 40px;
	}

	.container {
		padding: 0 60px;
	}

	.header-container {
		background-size: 991px;
    background-position: -10px -34px;
	}

	.transparent-bg {
		position: fixed;
		top: 0;
		left: 0;
		transition: 0.5s ease-in-out;
	}

	.transparent-bg.menu-is-active {
		width: 100vw;
		height: 100vh;
		z-index: 1;
		background-color: rgba(0, 0, 0, 50%);
	}

	.burger {
		position: absolute;
		right: 8vw;
		display: flex;
	}

	.burger:hover .burger-line {
		background-color: var(--color-gold);
	}

	.nav {
		position: fixed;
		top: 0;
		right: -620px;
		width: 620px;
		height: 100vh;
		padding: 0;
		margin: 0;
		transition: 1s;
	}

	.nav.menu-is-active {
		right: 0;
		background-color: var(--color-black);
		z-index: 10;
		overflow-y: scroll;
	}

	.nav.light-theme {
		background-color: var(--color-white);
	}

	.nav-list {
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		margin: 133px 0 0 123px;
		height: 462px;
		font-family: 'Merriweather', serif;
	}

	.nav-item {
		font-size: var(--font-size-7);
		line-height: 73px;
	}

	.nav-link {
		padding: 0;
		color: var(--color-gold);
	}

	.nav-link:hover {
		color: var(--color-white);
	}

	.nav-link:hover.light-theme {
		color: var(--color-gold);
	}

	.switch-lng {
		margin: 0 25px 0 auto;
	}

	.theme-button {
		padding: 0;
		margin-right: 84px;
	}

	.hero-container {
		height: 500px;
		margin-bottom: 80px;
		background-size: 991px;
    background-position: -10px -124px;
		background-repeat: no-repeat;
	}

	.section-hero {
		padding: 67px 0 0;
	}

	.section-hero-title {
		font-weight: 400;
		max-width: fit-content;
	}

	.section-hero-text {
		max-width: 390px;
		margin: 0 0 59px;
		line-height: 24px;
	}

	.section-title {
		font-size: var(--font-size-1);
	}

	.section-title-container {
		width: 364px;
		margin-bottom: 47px;
	}

	.section-skills-items {
		justify-content: space-between;
	}

	.skills-item {
		max-width: 300px;
		width: 100%;
		margin-bottom: 75px;
	}

	.skills-icon {
		margin: 0 0 30px;
	}

	.item-title {
		margin: 0 40px 21px;
	}

	.item-paragraph {
		padding: 0 10px;
		margin: 0;
		line-height: normal;
	}

	.section {
		margin-bottom: 85px;
	}

	.portfolio-image {
		width: 69.4%;
		height: 100%;
	}	

	.section-video {
    position: relative;
    left: -60px;
		width: 100vw;
	}

	.section-video-player {
		max-width: 768px;
		height: 418px;
		background-size: 816px;
    background-position: -2px 6px;
		background-repeat: no-repeat;
	}
	

	.play-button-icon {
		width: 65px;
		height: 65px;
	}

	.section-price-items {		
		justify-content: center;
		gap: 50px
	}

	.price-item {
		width: 64.8%;
	}

	.contact-container {
		justify-content: center;
		max-width: 768px;
		height: 600px;
		background-image: url('assets/img/contacts.jpg');
		background-repeat: no-repeat;
		background-size: 1250px;
    background-position: -239px -11px;
	}

	.section-contact {
		display: flex;
		align-items: center;
	}

	.section-title-contact {
		margin: 48px 0 30px;
		line-height: normal;
		text-align: center;
	}

	.footer-container {
		flex-direction: column;
		height: 190px;
	}

	.footer-data {
		justify-content: space-evenly;
		line-height: normal;
		align-items: flex-end;
		width: 210px;
	}

	.github {
		padding-right: 3px;
	}

	.social-list {
		align-items: flex-start;
		gap: 20px;
	}
	
}

@media (max-width: 767px) {

	.section-skills-items {
		justify-content: center;
		align-items: center;
	}
	
}

@media (max-width: 619px) {

	.container {
		padding: 0 10vw;
	}

	.nav {
		width: 100vw;
	}

	.nav-list {
		margin: 22vw 0 0 20vw;
	}

	.section {
		margin-bottom: 50px;
	}

	.section-title-container {
		max-width: 364px;
		width: 100%;
	}

	.section-video {
		position: static;
		width: 100%;
	}

	.section-video-player {
		background-position: 27%;
	}

	.price-item {
		width: 100%;
		justify-content: space-around;
	}

	.price-title {
		padding: 0;
	}

	.dollars-price, .price-description {
		margin: 0;
	}

	.price-button {
		width: 65%;
		height: 10%;
	}

	.input, .textarea {
		width: calc(100% - 20px);
	}

	.contact-form {
		align-items: center;
	}

}

@media (max-width: 400px) {
	.switch-lng {
		margin: 0 0 0 auto;
	}

	.theme-button {
		margin-right: 17vw ;
	}
}